body {
    background-color: #000;
    margin-top: 0;
}

img {
<<<<<<< HEAD
    max-width: 100%;
||||||| merged common ancestors
  max-width: 100%;
=======
  max-width: 100%;
  margin-bottom: 100px;
>>>>>>> 08b95f9e6eddcfdd22978192155a0e8fc8f52831
}
button {
<<<<<<< HEAD
    /* background: rgb(117, 111, 111); */
||||||| merged common ancestors
  /* background: rgb(117, 111, 111); */
=======
  background: rgb(117, 111, 111);
  border-radius: 20px;
  letter-spacing: 1px;
}

.title {
  margin-top: 40px;
>>>>>>> 08b95f9e6eddcfdd22978192155a0e8fc8f52831
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  width: 75%; /* Full width */
  height: 75%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  /* background-color: rgba(0,0,0,0.4); Black w/ opacity */
  max-height: calc(100vh - 210px);
  overflow-y: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  
}

/* Modal Content */
.modal-content {
  /* background-color: #fefefe; */
  color: #fff;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close-btn {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
  color: rgb(197, 147, 8);
  text-decoration: none;
  cursor: pointer;
}
